{% extends 'base.html' %}
{% load static %}

{% block title %}О авторе{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-12">
          <h1>Станислав Сухоцкий</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p>Много много буков ... Много много буков ... Много много буков ... Много много буков ... 
              Много много буков ... Много много буков ... Много много буков ... Много много буков ... 
          </p>
          <p>Много много буков ... Много много буков ... Много много буков ... Много много буков ... 
              Много много буков ... Много много буков ... Много много буков ... Много много буков ... 
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img src={% static '\img\img.jpg' %}>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Контакты для связи</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Телефон: +7 (123) 456-78-90</p>
          <p>Почта: <a href="mailto: test@gmail.com">test@gmail.com</a></p>
          <p>Скайп: test</p>
          <p>Телеграм: @test</p>
        </div>
      </div>
{% endblock content %}